@charset "UTF-8";
/*!
* ress.css • v3.0.1
* MIT License
* github.com/filipelinhares/ress
*/
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  tab-size: 4;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  overflow: visible;
  height: 0;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  white-space: normal;
  max-width: 100%;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

body {
  font-size: 62.5%;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

/* main/_main.scss */
/* フォントファミリー */
.section__sub-title,
.section__text,
.form__title {
  font-family: "Noto Sans CJK JP";
  color: #141414;
}

.form__label,
.form__btn {
  font-family: "Hiragino Kaku Gothic ProN";
}

/* about, service */
.section__title {
  font-size: 36px;
  font-weight: medium;
  line-height: 0.66667;
  letter-spacing: 0.05em;
  color: #141414;
}

.section__sub-title,
.form__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.1em;
}

.section__text {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14286;
  letter-spacing: 0.05em;
}

/* news */
.news__text {
  font-size: 13px;
  font-weight: W6;
  line-height: 1.92308;
  letter-spacing: 0.05em;
  color: #141414;
}

/* form */
.form__label, .form__textarea,
.form__btn, .form__text {
  font-size: 16px;
  font-weight: W3;
  line-height: 1.875;
  letter-spacing: 0.05em;
}

.section__title,
.form__title,
.footer__wrapper {
  text-align: center;
}

/* mainの幅 */
.section__wrapper {
  padding: 50px 15%;
  margin: 50px 0;
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
  .section__wrapper {
    padding: 50px 5%;
  }
  .section__sub-title,
  .form__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.1em;
  }
  .section__text {
    font-size: 14px;
    font-weight: bold;
    line-height: 2.14286;
    letter-spacing: 0.05em;
    text-align: left;
  }
}

.header {
  background-color: #1B1310;
  color: #ffffff;
  border-bottom: #ffffff solid 1px;
}

.header__logo {
  font-size: 1.625rem;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 22px 120px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__item {
  margin-left: 55px;
  font-size: 1rem;
}

.header__item > a {
  color: #ffffff;
}

.burger-btn {
  display: none;
}

/**** レスポンシブ ****/
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0 5%;
  }
  .header__logo {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: Medium;
    line-height: 1.30769;
    letter-spacing: 0em;
  }
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    border: none;
  }
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    transform: translate(-50%, 10px) rotate(45deg);
    transition: transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform .3s;
  }
  body.noscroll {
    overflow: hidden;
  }
  .header__nav {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #1B1310;
    top: 0;
    left: 0;
    z-index: 2;
    /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  .header__list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header__item {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

/* fv */
.fv {
  background: url(/img/fv-bgi@2x.jpg) no-repeat center/cover;
  height: 739px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.fv__title {
  font-size: 50px;
  font-weight: medium;
  line-height: 0.48;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 30px 42px;
  border: 1px solid #ffffff;
}

/* about */
.section__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section__title {
  padding-bottom: 70px;
}

.section__sub-title {
  padding-bottom: 45px;
}

/* service */
.content__inner,
.content__inner__reverse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content__inner__reverse {
  margin-top: 50px;
  flex-direction: row-reverse;
}

.content__img,
.content__reverse__img {
  width: 480px;
}

.content__img img,
.content__reverse__img img {
  max-width: 100%;
  height: auto;
}

.content__text,
.content__text__reverse {
  width: 50%;
}

.content__text {
  padding-left: 70px;
}

.content__text__reverse {
  padding-right: 70px;
}

/* news */
.news__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.news__item {
  width: 320px;
  box-shadow: 0 0 6px rgba(27, 19, 16, 0.4);
}

.news__img {
  width: 100%;
}

.news__img img {
  max-width: 100%;
}

.news__text {
  padding: 25px 33px;
}

/* form */
.form__wrapper {
  padding: 0 calc((100% / 3) / 2);
  margin-bottom: -50px;
}

.form__title {
  margin-bottom: 70px;
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form__textarea,
.form__text {
  border: #141414 1px solid;
}

.form__text {
  height: 30px;
  margin-bottom: 25px;
  padding: 10px;
}

.form__textarea {
  margin-bottom: 50px;
  resize: none;
  padding: 10px;
}

.form__btn {
  font-family: "Avenir";
  font-size: 20px;
  font-weight: Black;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background-color: #1B1310;
  box-shadow: 0 0 6px #1B1310;
  color: #ffffff;
  border-radius: 50px;
  margin-top: 50px;
  width: calc(100% / 3);
  height: 59px;
  margin: 0 auto;
}

/**** レスポンシブ ****/
@media screen and (max-width: 767px) {
  .fv {
    background: url(/img/fv-bgi_sp@2x.jpg) no-repeat center/cover;
    height: 739px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .fv__title {
    font-size: 30px;
    font-weight: medium;
    line-height: 0.8;
    letter-spacing: 0.05em;
  }
  .section__title {
    padding-bottom: 75px;
  }
  .section__sub-title {
    padding-bottom: 34px;
  }
  .content__inner,
  .content__inner__reverse {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .content__text,
  .content__text__reverse {
    width: 100%;
    padding: 0;
  }
  .content__img,
  .content__reverse__img {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .news__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-bottom: -40px;
  }
  .news__item {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .form__wrapper {
    padding: 0;
  }
  .form__btn {
    width: 255px;
  }
}

.footer {
  background-color: #1B1310;
  height: 79px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: Regular;
  line-height: 2.14286;
  letter-spacing: 0.05em;
  color: #ffffff;
}

#page__top {
  display: none;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 40px;
}

#page__top > a {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 26px;
  font-weight: Regular;
  line-height: 1.15385;
  letter-spacing: 0.05em;
  background-color: rgba(101, 101, 102, 0.507);
  padding: 25px;
  border-radius: 50px;
}

#page__top :hover {
  background-color: gray;
}
/*# sourceMappingURL=style.css.map */