.header {
  background-color: #1B1310;
  color: #ffffff;
  border-bottom: #ffffff solid 1px;
}
.header__logo {
  font-size: 1.625rem;
}
.header__inner {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 22px 120px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  // margin-right: -55px;
}
.header__item {
  margin-left: 55px;
  font-size: 1rem;
}
.header__item > a {
  color: #ffffff;
}