.header {
  background-color: #1B1310;
  color: #ffffff;
  border-bottom: #ffffff solid 1px;
}
.header__logo {
  font-size: 1.625rem;
}
.header__inner {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 22px 120px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  // margin-right: -55px;
}
.header__item {
  margin-left: 55px;
  font-size: 1rem;
}
.item__hv {
  padding-bottom: 3px;
  border-bottom: 3px solid #fff;
  margin-top: -3px;
  transition: all 0.3s ease;
  left: 50%;
}
.header__item > a {
  color: #ffffff;
}
.burger-btn {
  display: none;
}

/**** レスポンシブ ****/
@include mq-down($breakpoint: md) {
  .header__inner {
    padding: 0 5%;
  }
  .header__logo {
    font-family: "Roboto";
    //フォントサイズ, 行送り, 太さ, 字送り
    @include f_around(26, 34, Medium, 0);
  }
  .burger-btn{
    display: block;      
    width: 39px;      
    height: 39px;      
    position: relative;      
    z-index: 3;
    border:none;    
  }    
  .bar{      
    width: 20px;      
    height: 1px;        
    display: block;      
    position: absolute;      
    left: 50%;      
    transform: translateX(-50%);      
    background-color: #fff;    
  }    
  .bar_top{   
    top: 10px;
  }
  .bar_mid{    
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .bar_bottom{
    bottom: 10px;
  }
  .burger-btn.close .bar_top{      
    transform: translate(-50%,10px) rotate(45deg);      
    transition: transform .3s;    
  }    
  .burger-btn.close .bar_mid{      
    opacity: 0;       
    transition: opacity .3s;    
  }    
  .burger-btn.close .bar_bottom{      
  transform: translate(-50%,-8px) rotate(-45deg);      
  transition: transform .3s;    
  }
  body.noscroll{
    overflow: hidden;
  }
  .header__nav {
    // transform: translate(100%);  
    display: none;    
    // transition: .3s;      
    width: 100vw;      
    height: 100vh;      
    position: fixed;   
    background-color: #1B1310;   
    top: 0;      
    left: 0;      
    z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  .header__list{        
    display: block;        
    position: absolute;        
    top: 50%;        
    left: 50%;        
    transform: translate(-50%,-50%);        
    text-align: center;      
  }      
  .header__item{        
    margin-right: 0;        
    margin-bottom: 40px;      
  }
} 