/* fv */ 
.fv {
  background: url(/img/fv-bgi@2x.jpg) no-repeat center / cover;
  height: 739px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.fv__title {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(50,24, medium, 50);
  color: #ffffff;
  padding: 30px 42px;
  border: 1px solid #ffffff;
}

/* about */ 
.section__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.section__title {
  padding-bottom: 70px;
}
.section__sub-title {
  padding-bottom: 45px;
}

/* service */ 
.content__inner,
.content__inner__reverse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.content__inner__reverse {
  margin-top: 50px;
  flex-direction: row-reverse;
}
.content__img,
.content__reverse__img {
  width: 480px;
}
.img {
  max-width: 100%;
  height: auto;
}
.content__text,
.content__text__reverse {
  width: 50%;
} 
.content__text {
  padding-left: 70px;
}
.content__text__reverse {
  padding-right: 70px;
}

/* news */ 
.news__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.news__item {
  width: 320px;
  box-shadow: 0 0 6px rgba(27, 19, 16, .4);
}
.news__img {
  width: 100%;
  img {
    max-width: 100%;
  }
}
.news__text {
  padding: 25px 33px;
}

/* form */ 
.form__wrapper {
  padding: 0 calc((100% / 3) / 2);
  margin-bottom: -50px;
}
.form__title {
  margin-bottom: 70px;
}
.form__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form__textarea,
.form__text {
  border: $main__font__color 1px solid;
}
.form__text {
  height: 30px;
  margin-bottom: 25px;
}
.form__textarea {
  margin-bottom: 50px;
}
.form__btn {
  font-family: "Avenir";
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(20, 30, Black, 50);
  background-color: #1B1310;
  box-shadow: 0 0 6px #1B1310;
  color: #ffffff;
  border-radius: 50px;
  margin-top: 50px;
  width: calc(100% / 3);
  height: 59px;
  margin: 0 auto;
}
