.fv {
  background: url(/img/fv-bgi@2x.jpg) no-repeat center / cover;
  height: 739px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.fv__title {
  //フォントサイズ, 行送り, 太さ, 字送り
  @include f_around(50, 50, 24, 0);
  color: #ffffff;
  padding: 30px 42px;
  border: 1px solid #ffffff;
}